# Dependências do Node.js
node_modules/
npm-debug.log
yarn-error.log

# Dependências do Composer
vendor/

# Arquivos de ambiente do Laravel
.env
.env.local
.env.*.local

# Cache e logs do Laravel
bootstrap/cache/
storage/*.key
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# Banco de dados SQLite (caso esteja usando)
database/*.sqlite

# IDEs e editores
.vscode/
.idea/
*.swp
*.swo
